body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(45deg, #ff7f7f, #ffc3a0);
    color: white;
}

.container {
    padding: 20px;
    margin-top: 50px;
}

h1 {
    font-size: 2em;
}

.info p {
    font-size: 1.2em;
    margin: 10px 0;
}
